body,
html
 {
 	margin: auto 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	min-width: 100%;
	background: url(bg.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
	background-color: #222;
}

.main-nav {
	display: flex;
    list-style: none;
    font-size: 1.7em;
    margin: 0;
}

li {
    padding: 10px;
}

.main-nav img {
	width: 10%;
	min-width: 69px;
}

.push-logo {
	max-width: 15%;
	min-width: 100px;
	align-self: center;
}

.push {
    margin-left: auto;
    align-self: center;
    padding-right: 30px;
}

.push a {
    text-decoration: none;
    color: #fff;

}

.container-main {
	margin:0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.heading {
	margin:0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 93vh;
	width: 100%;
	text-align: center;
}

 .heading {
 	background:
    /* top, transparent black, faked with gradient */ 
	    linear-gradient(
	    rgba(0, 0, 0, 0.4), 
	    rgba(0, 0, 0, 0.7)
	    ),
    /* bottom, image */
    url(bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    }

.heading img {
	width: 40%; 
}

.heading h1 {
	color: #fff;
}

.possibilities {
	position: absolute;
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	text-transform: uppercase;
	bottom:0;
	color: white;
}

.possibilities h1 {
	width:33%;
	
}

.pros {
	background:rgba(0,0,255,0.4);
    display: flex;	
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 50px;
}

#why-us {
	width: 100%;
	text-align: center;
}

.container-box {
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.box {
    border: 4px double black; /* Параметры границы */
    background: rgba(0, 0, 255, 1);
    color: white;
    text-align: center;
    display: flex;	
	flex-direction: column;
	justify-content: space-around;
	margin: 20px 0px 20px 0px;
	padding: 0px 15px 0px 15px;
}

.location {
	width: 100%;
	background: rgba(40, 40, 40, 1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact_map {
	margin: 40px 20px 40px 0px;
}

footer {
	background: rgba(0, 0, 0, 1);
	color: white;
	padding:15px 0px 15px 5%;

}

footer a {
	text-decoration: none;
	color: white;
}


@media (max-width: 1318px) {

	.location {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contact_map iframe {
		width:500px;
		height:250px;
	}

}

@media only screen and (max-width: 600px) {

    .main-nav {
        font-size: 0.8em;
        padding: 5px;
    }

    .push {
    	padding-right: 0px; 
    	min-width: 10px;
	}

	.possibilities {
		font-size: 0.7em;
	}

	.container-box {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.location {
		margin: 0;
		padding: 0;
	}

	.contact_map {
		margin: 0px 0px 0px 0px;
	}

	.contact_map iframe {
		width:300px;
		height:200px;
	}

}